@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;1,400;1,700&display=swap');

/*$darkest-blue: #1a237e; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    list-style:none;
    font-family: 'STIX Two Text', serif;
}
body{
    background: #ffffff;
    font-size : 14px;
    line-height: 22px;
    color: #ffffff;

}
.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    
}
.semi_bold{
    font-weight: 500;
    font-size: 16px;
}
.resume{
    display: flex;
    width: 900px;
    height: auto;
    margin:100px auto;

}
.resume .resume_left{
    width: 280px;
    background: #5c6bc0;
}
.resume .resume_left .profile{
    width: 100%;
    height: 280px;
}
.resume .resume_left .profile img{
    width: 100%;
    height: 100%;
}
.resume .resume_left .content{
    padding: 0 25px;
}
.resume .title{
    margin-bottom: 20px;
}
.resume .resume_left .bold{
    color: #fdd835;
}

.resume .item {
    padding: 10px 0;
    border-bottom: 2px solid #fdd835;
}
  .item:last-child{
    border-bottom: 0px;
}
.resume_left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.resume_left ul li:last-child{
    margin-bottom: 0;
}
.resume_left ul li .icon{
    width:35px;
    height: 35px;
    background: #fdd835;
    color: #1a237e;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}
.resume .icon i,
.resume_right .hobby ul li i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.resume_left ul li .data{
color: aliceblue;
}
.resume_left .skills ul li{
justify-content: space-between;
}
.skills .skillname{
    width: 25%;
}
.skills .skillprogress{
    width: 60%;
    margin: 0 5px;
    height: 5px;
    background: #303f9f;
    position: relative;
}
.skills .skillper{
    width: 15%;
}
.skillprogress span{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    background: #fdd835;

}
.resume .resume_right{
    background: #1a237e;
    width: 520px;
    padding: 25px;
}
.resume_right .bold{
    color: #fdd835;
}

.medi{
    
    color: #DEBA9D;
}

.resume_right .education ul,
.resume_right .work ul {
padding-left: 25px;
}
.resume_right ul li{
    position: relative;
    
}
.resume_right ul li .date{
    margin-bottom: 12px;
    font-size: 18px;
    color: #fdd835;
    font-weight: 400; 
}
.resume_right ul li .work_info{
    margin-bottom: 10px;
}
.resume_right ul li:last-child .work_info{
    margin-bottom: 0;
    /*margin-bottom
    0;*/
}



.resume_right .work ul li:before,
.resume_right .education ul li:before{
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 2px solid #fdd835;
}
.resume_right .work ul li:after,
.resume_right .education ul li:after{
    content: "";
    position: absolute;
    top: 13px;
    left: -22px;
    width: 0px;
    height: 98px;
    border: 1px solid #fdd835;
}

.hobby ul{
    display: flex;
    justify-content: space-around;
}
.resume_right .hobby ul li {
    color: #fdd835;
    width:80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fdd835;
    position: relative;
}
.resume_right .hobby ul li i{
    font-size: 30px;
}
.resume_right .hobby ul li:before{
    content: "";
    position: absolute;
    top:40px;
    right: -40px;
    width: 40px;
    height: 2px;
    background: #fdd835;

}.resume_right .hobby ul li:last-child:before{
display: none;
}
a:link{
    color:#DEBA9D;
    
    font-weight: 700px;
    text-decoration: none;
}
a:hover{
    color:#fdd835;
}
a:visited{
    color:#DEBA9D;
}